<h2>Commits</h2>
<table class="table table-condensed table-responsive">
    <thead>
    	<th>Commit Message</th>
		<th>Authors Name</th>
		<th>Authors Email</th>
		<th>Commited at</th>
    </thead>
    <tbody>
	{{#each commitsData}}
        <tr>
            <td>{{commit.message}}</td>
            <td>{{commit.author.name}}</td>
            <td>{{commit.author.email}}</td>
			<td>{{dateFormat commit.author.date format="DD.MM.YYYY, HH:mm:ss"}}</td>
        </tr>
	{{/each}}
    </tbody>
</table>
