<h2>Drivers</h2>
<table class="table table-condensed table-responsive">
    <thead>
    <th>Name</th>
    <th>Date of birth</th>
    <th>Nationality</th>
    </thead>
    <tbody>
	{{#each drivers}}
        <tr>
            <td>{{givenName}} {{familyName}}</td>
            <td>{{dateOfBirth}}</td>
            <td>{{nationality}}</td>
        </tr>
	{{/each}}
    </tbody>
</table>
