// background colors
$base-background-color: #fff;

// font colors
$base-font-color: #555753;
$base-h3-color: #7D775C;

// link colors
$base-link-color: #B7A5DF;
$base-link-visited-color: #D4CDDC;
$base-link-action-color: #9685BA;
$sidebar-link-color: #988F5E;
$sidebar-link-visited-color: #B3AE94;